@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

*{
    box-sizing: border-box;
}
.container{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10%;
}
.picture{
    flex-basis: 40%;
    position: relative;
    margin-right: 50px;
}
,clock{
    flex-basis: 60%;
    position: relative;
}

body{
    font-family: 'Poppins', sans-serif;
    
    align-items: center;
    justify-items: center;
    text-align: center;
}

h1{
    font-size: 60px;
    margin-top: 20px;
}

.countdown{
    display: flex;
    transform: scale(2);
    align-items: center;
    justify-content: center;
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.time h2{
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
}

.button-2{
    text-align: center;
    cursor: pointer;
    margin: auto;
    width: 150px;
    border: none;
    background: linear-gradient(to right, dodgerblue, royalblue);
    border-radius: 5px;
    height: 35px;
    padding: auto;
    color: white;
    align-items: center;
    transition: .2s;
    margin-bottom: 60px;
    margin-top: 80px;

}
.button-2:hover{
    box-shadow: 5px 5px 7px #cbced1,
                -5px -5px 7px #ffffff;
}

@media only screen and (max-width:700px){

    .container{
        flex-direction: column;
    }

    .clock{
        flex-basis: 100%;
    }
    .picture{
        flex-basis: 100%;
    }

    h1{
        font-size: 40px;
        margin-top: 0%;

    }
    .time{
        margin: 5px;
    }

    .time h2{
        font-size: 10px;
    }

    .time small{
        font-size: 7px;
    }
}